Foriba.OE.UI/wsdl/ClientEInvoiceServicesTypes-2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by S. Gökhan Topçu (FIT) -->
<!-- ©2015 FIT Consulting -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http:/fitcons.com/eInvoice/" targetNamespace="http:/fitcons.com/eInvoice/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="InvoiceList-1.3.xsd"/>
	<xs:element name="sendUBLRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="SenderIdentifier" type="xs:string" minOccurs="0"/>
				<xs:element name="ReceiverIdentifier" type="xs:string" minOccurs="0"/>
				<xs:element name="DocType" type="xs:string"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DocData" type="xs:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendUBLResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Response" type="SendUBLResponseType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SendUBLResponseType">
		<xs:sequence>
			<xs:element name="EnvUUID" type="xs:string"/>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CustInvID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getUBLListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="UUID" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="DocType" type="xs:string"/>
				<xs:element name="Type" type="xs:string"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="FromDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ToDate" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUBLListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UBLList" type="GetUBLListResponseType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetUBLListResponseType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="Identifier" type="xs:string"/>
			<xs:element name="VKN_TCKN" type="xs:string"/>
			<xs:element name="EnvType" type="xs:string" minOccurs="0"/>
			<xs:element name="EnvUUID" minOccurs="0"/>
			<xs:element name="ID" type="xs:string" minOccurs="0"/>
			<xs:element name="CustInvID" type="xs:string" minOccurs="0"/>
			<xs:element name="InsertDateTime" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getUBLRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="DocType" type="xs:string"/>
				<xs:element name="Type" type="xs:string"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUBLResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocData" type="xs:base64Binary" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnvelopeStatusRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getEnvelopeStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Response" type="getEnvelopeStatusResponseType" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="getEnvelopeStatusResponseType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="IssueDate" type="xs:date"/>
			<xs:element name="DocumentTypeCode" type="xs:string" minOccurs="0"/>
			<xs:element name="DocumentType" type="xs:string" minOccurs="0"/>
			<xs:element name="ResponseCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="DocData" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getInvoiceViewRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="CustInvID" type="xs:string"/>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="Type" type="xs:string"/>
				<xs:element name="DocType" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getInvoiceViewResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocData" type="xs:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="Role" type="xs:string"/>
				<xs:element name="RegisteredAfter" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="Filter_VKN_TCKN" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="User" type="UserType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="UserType">
		<xs:sequence>
			<xs:element name="Identifier" type="xs:string"/>
			<xs:element name="Alias" type="xs:string"/>
			<xs:element name="Title" type="xs:string"/>
			<xs:element name="Type" type="xs:string"/>
			<xs:element name="RegisterTime" type="xs:dateTime"/>
			<xs:element name="FirstCreationTime" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
		<xs:element name="getRAWUserListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="Role" type="xs:string"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRAWUserListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocData" type="xs:base64Binary"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getInvResponsesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="UUID" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="Type" type="xs:string"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getInvResponsesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Response" type="GetInvResponsesResponseType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GetInvResponsesResponseType">
		<xs:sequence>
			<xs:element name="InvoiceUUID" type="xs:string"/>
			<xs:element name="InvResponses" type="GetInvResponsesResponseInvResponsesType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetInvResponsesResponseInvResponsesType">
		<xs:sequence>
			<xs:element name="EnvUUID" type="xs:string"/>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="InsertDateTime" type="xs:dateTime"/>
			<xs:element name="IssueDate" type="xs:dateTime"/>
			<xs:element name="ARType" type="xs:string"/>
			<xs:element name="ARNotes" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DocData" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Parameters" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="sendInvoiceListRequest" type="InvoiceListType"/>
	<xs:element name="sendInvoiceListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceListResponse" type="InvoiceListResponseType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceListResponseType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="EnvUUID" type="xs:string"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="CustInvID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getInvoiceListRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="UUID" type="xs:string" minOccurs="0"/>
				<xs:element name="Status" type="xs:string" minOccurs="0"/>
				<xs:element name="ARType" type="xs:string" minOccurs="0"/>
				<xs:element name="FromDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="ToDate" type="xs:dateTime" minOccurs="0"/>
				<xs:element name="MetadataOnly" type="xs:boolean" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getInvoiceListResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceList" type="InvoiceListType"/>
				<xs:element name="LastDate" type="xs:dateTime"/>
				<xs:element name="Pending" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendARRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UUID" type="xs:string"/>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="AR" type="xs:string"/>
				<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sendARResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="EnvUUID" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getInvoiceStatusRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceStatusRequest" type="InvoiceStatusRequestType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceStatusRequestType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="CustInvID" type="xs:string"/>
			<xs:element name="Identifier" type="xs:string"/>
			<xs:element name="VKN_TCKN" type="xs:string"/>
			<xs:element name="Type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="getInvoiceStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceStatusResponse" type="InvoiceStatusResponseType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceStatusResponseType">
		<xs:sequence>
			<xs:element name="UUID" type="xs:string"/>
			<xs:element name="CustInvID" type="xs:string"/>
			<xs:element name="StatusCode" type="xs:string"/>
			<xs:element name="StatusDescription" type="xs:string"/>
			<xs:element name="StatusDate" type="xs:dateTime"/>
			<xs:element name="ARType" type="xs:string" minOccurs="0"/>
			<xs:element name="InsertDateTime" type="xs:dateTime"/>
			<xs:element name="ID" type="xs:string"/>
			<xs:element name="EnvUUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="storeUBLRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identifier" type="xs:string"/>
				<xs:element name="VKN_TCKN" type="xs:string"/>
				<xs:element name="Type" type="xs:string"/>
				<xs:element name="DocData" type="xs:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="storeUBLResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InsertDateTime" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
