Foriba.OE.UI/wsdl/EArchiveInvoiceService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p0="http://fitcons.com/earchive/base" xmlns:p1="http://fitcons.com/earchive/invoicecancellation" xmlns:p2="http://fitcons.com/earchive/reconciliation" xmlns:p3="http://fitcons.com/earchive/report" xmlns:p4="http:/fitcons.com/earchive/getuserlist" xmlns:tns="http://fitcons.com/earchive/invoice" targetNamespace="http://fitcons.com/earchive/invoice">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http:/fitcons.com/earchive/getuserlist" version="1.0">
			<xs:element name="getUserListFault">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="code" type="xs:int"/>
						<xs:element name="message" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="vknTckn" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="binaryData" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema xmlns:ns1="http://fitcons.com/earchive/base" xmlns:tns="http://fitcons.com/earchive/reconciliation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fitcons.com/earchive/reconciliation" version="1.0">
			<xs:import namespace="http://fitcons.com/earchive/base"/>
			<xs:element name="reconciliationServiceRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="date" type="xs:date"/>
						<xs:element name="vkn" type="xs:string"/>
						<xs:element name="branch" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="reconciliationServiceResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="reconciliationResponseType" type="tns:reconciliationResponseType"/>
						<xs:element minOccurs="0" name="result" type="ns1:Result"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="reconciliationResponseType">
				<xs:sequence>
					<xs:element name="message" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="failedCurrencyInfoTypeList" nillable="true" type="tns:currencyInfoType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="inboundTypeList" nillable="true" type="tns:inboundType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="currencyInfoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="count" type="xs:long"/>
					<xs:element minOccurs="0" name="currencyCode" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceInfoTypeList" nillable="true" type="tns:invoiceInfoType"/>
					<xs:element minOccurs="0" name="totalAmount" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="invoiceInfoType">
				<xs:sequence>
					<xs:element minOccurs="0" name="invoiceId" type="xs:string"/>
					<xs:element minOccurs="0" name="statusCode" type="xs:int"/>
					<xs:element minOccurs="0" name="statusDescription" type="xs:string"/>
					<xs:element minOccurs="0" name="uuid" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="inboundType">
				<xs:sequence>
					<xs:element minOccurs="0" name="currencyCode" type="xs:string"/>
					<xs:element minOccurs="0" name="invoiceCount" type="xs:int"/>
					<xs:element minOccurs="0" name="totalAmount" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ns1="http://fitcons.com/earchive/base" xmlns:tns="http://fitcons.com/earchive/report" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fitcons.com/earchive/report" version="1.0">
			<xs:import namespace="http://fitcons.com/earchive/base"/>
			<xs:element name="approveReportRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UUID" type="xs:string"/>
						<xs:element name="VKN_TCKN" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="approveReportResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element name="Detail" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportDataRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UUID" type="xs:string"/>
						<xs:element name="VKN_TCKN" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element minOccurs="0" name="binaryData" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportDetailRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UUID" type="xs:string"/>
						<xs:element name="VKN_TCKN" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportDetailResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="invoice" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="cancel" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="startDate" type="xs:dateTime"/>
						<xs:element name="endDate" type="xs:dateTime"/>
						<xs:element name="vkn" type="xs:string"/>
						<xs:element name="approved" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element maxOccurs="unbounded" name="Reports" type="tns:getReportListResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportStatusRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UUID" type="xs:string"/>
						<xs:element name="VKN" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getReportStatusResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element name="StatusCode" type="xs:int"/>
						<xs:element name="Detail" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendReportRequestType">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ns1:BaseArchiveRequest">
							<xs:sequence/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendReportResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element name="statusCode" type="xs:int"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="getReportListResult">
				<xs:sequence>
					<xs:element name="uuid" type="xs:string"/>
					<xs:element name="tcknVkn" type="xs:string"/>
					<xs:element name="periodCode" type="xs:string"/>
					<xs:element name="sectionStartDate" type="xs:date"/>
					<xs:element name="sectionEndDate" type="xs:date"/>
					<xs:element name="partNumber" type="xs:int"/>
					<xs:element name="invoiceCount" type="xs:int"/>
					<xs:element name="invoiceTotalAmount" type="xs:decimal"/>
					<xs:element name="cancelInvoiceCount" type="xs:int"/>
					<xs:element name="calcelInvoiceTotalAmount" type="xs:decimal"/>
					<xs:element name="gibStatus" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ns1="http://fitcons.com/earchive/base" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fitcons.com/earchive/invoice" version="1.0">
			<xs:import namespace="http://fitcons.com/earchive/base"/>
			<xs:element name="detailedInvoiceQueryRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="senderId" type="xs:string"/>
						<xs:element name="receiverId" type="xs:string"/>
						<xs:element name="queryStartDate" type="xs:string"/>
						<xs:element name="queryEndDate" type="xs:string"/>
						<xs:element name="custinvID" type="xs:string"/>
						<xs:element name="UUID" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="detailedInvoiceQueryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SenderID" type="xs:string"/>
						<xs:element name="ReceiverID" type="xs:string"/>
						<xs:element name="Result" type="xs:string"/>
						<xs:element name="ErrorDetail" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="invoice" type="tns:invoiceDetail"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInvoiceDocumentRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
						<xs:element minOccurs="0" name="outputType" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getInvoiceDocumentResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
						<xs:element name="statusCode" type="xs:int"/>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element minOccurs="0" name="Hash" type="xs:string"/>
						<xs:element minOccurs="0" name="binaryData" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSignedInvoiceRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getSignedInvoiceResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element name="Hash" type="xs:string"/>
						<xs:element minOccurs="0" name="binaryData" type="xs:base64Binary"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStatusRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getStatusResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="UUID" type="xs:string"/>
						<xs:element minOccurs="0" name="vkn" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceNumber" type="xs:string"/>
						<xs:element name="statusCode" type="xs:int"/>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element minOccurs="0" name="Hash" type="xs:string"/>
						<xs:element minOccurs="0" name="ReportUuid" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="invIdGenerationRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Identifier" type="xs:string"/>
						<xs:element name="Branch" type="xs:string"/>
						<xs:element name="Cust_inv_id" type="xs:string"/>
						<xs:element name="Issue_date" type="xs:anySimpleType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="invIdGenerationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="tns:result"/>
						<xs:element name="Invoice_ID" type="xs:string"/>
						<xs:element name="UUID" type="xs:string"/>
						<xs:element name="issue_time" type="xs:anySimpleType"/>
						<xs:element name="Link" type="xs:string"/>
						<xs:element name="Cust_inv_id" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retriggerServiceRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VKN" type="xs:string"/>
						<xs:element name="branch" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceID" type="xs:string"/>
						<xs:element minOccurs="0" name="invoiceUUID" type="xs:string"/>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="customizationParams" type="ns1:CustomizationParam"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="retriggerServiceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element minOccurs="0" name="responseCode" type="xs:int"/>
						<xs:element minOccurs="0" name="responsedetail" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sendInvoiceRequestType" type="tns:SendInvoiceRequestType"/>
			<xs:element name="sendInvoiceResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Detail" type="xs:string"/>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element minOccurs="0" name="preCheckErrorResults">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="preCheckError" type="tns:PreCheckError"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" name="preCheckSuccessResults">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="preCheckSuccess" type="tns:PreCheckSuccess"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="SendInvoiceRequestType">
				<xs:complexContent>
					<xs:extension base="ns1:BaseArchiveRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="responsiveOutput" type="tns:ResponsiveOutput"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ResponsiveOutput">
				<xs:sequence>
					<xs:element minOccurs="0" name="outputType" type="tns:ResponsiveOutputType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PreCheckError">
				<xs:sequence>
					<xs:element minOccurs="0" name="UUID" type="xs:string"/>
					<xs:element minOccurs="0" name="Vkn" type="xs:string"/>
					<xs:element minOccurs="0" name="InvoiceNumber" type="xs:string"/>
					<xs:element name="ErrorCode" type="xs:int"/>
					<xs:element name="ErrorDesc" type="xs:string"/>
					<xs:element minOccurs="0" name="Filename" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PreCheckSuccess">
				<xs:sequence>
					<xs:element minOccurs="0" name="UUID" type="xs:string"/>
					<xs:element minOccurs="0" name="Vkn" type="xs:string"/>
					<xs:element minOccurs="0" name="InvoiceNumber" type="xs:string"/>
					<xs:element name="SuccessCode" type="xs:int"/>
					<xs:element name="SuccessDesc" type="xs:string"/>
					<xs:element minOccurs="0" name="Filename" type="xs:string"/>
					<xs:element minOccurs="0" name="sha256Hash" type="xs:string"/>
					<xs:element minOccurs="0" name="binaryData" type="xs:base64Binary"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="invoiceDetail">
				<xs:sequence>
					<xs:element name="invoiceID" type="xs:string"/>
					<xs:element name="invoiceUUID" type="xs:string"/>
					<xs:element name="customerInvoiceID" type="xs:string"/>
					<xs:element name="invoiceDate" type="xs:string"/>
					<xs:element name="invoiceAmount" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="additional" type="tns:additional"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="additional">
				<xs:sequence>
					<xs:element name="keyCode" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="result">
				<xs:sequence>
					<xs:element name="StatusCode" type="xs:string"/>
					<xs:element name="StatusDescription" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ResponsiveOutputType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="XML"/>
					<xs:enumeration value="HTML"/>
					<xs:enumeration value="PDF"/>
					<xs:enumeration value="NONE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:tns="http://fitcons.com/earchive/base" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fitcons.com/earchive/base" version="1.0">
			<xs:element name="processingFaultType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Code" type="xs:integer"/>
						<xs:element name="Text" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="BaseArchiveRequest">
				<xs:sequence>
					<xs:element name="senderID" type="xs:string"/>
					<xs:element name="receiverID" type="xs:string"/>
					<xs:element name="docType" type="xs:string"/>
					<xs:element name="fileName" type="xs:string"/>
					<xs:element name="hash" type="xs:string"/>
					<xs:element name="binaryData" type="xs:base64Binary"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="customizationParams" type="tns:CustomizationParam"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CustomizationParam">
				<xs:sequence>
					<xs:element minOccurs="0" name="paramName" type="xs:string"/>
					<xs:element minOccurs="0" name="paramValue" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Result">
				<xs:sequence>
					<xs:element name="Result" type="tns:ResultType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ResultType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SUCCESS"/>
					<xs:enumeration value="FAIL"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:ns1="http://fitcons.com/earchive/base" xmlns:tns="http://fitcons.com/earchive/invoicecancellation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fitcons.com/earchive/invoicecancellation" version="1.0">
			<xs:import namespace="http://fitcons.com/earchive/base"/>
			<xs:element name="invoiceCancellationServiceRequestType">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceCancelInfoTypeList" nillable="true" type="tns:invoiceCancelInfoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="invoiceCancellationServiceResponseType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Result" type="ns1:Result"/>
						<xs:element minOccurs="0" name="invoiceCancellation" type="tns:invoiceCancellationResponseType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="invoiceCancelInfoType">
				<xs:sequence>
					<xs:element name="invoiceId" type="xs:string"/>
					<xs:element name="vkn" type="xs:string"/>
					<xs:element minOccurs="0" name="branch" type="xs:string"/>
					<xs:element name="totalAmount" type="xs:decimal"/>
					<xs:element name="cancelDate" type="xs:date"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="invoiceCancellationResponseType">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="code" type="xs:long"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="sendInvoiceIn">
		<wsdl:part element="tns:sendInvoiceRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendInvoiceOut">
		<wsdl:part element="tns:sendInvoiceResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendInvoiceFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="sendEnvelopeIn">
		<wsdl:part element="tns:sendInvoiceRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendEnvelopeOut">
		<wsdl:part element="tns:sendInvoiceResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendEnvelopeFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getStatusIn">
		<wsdl:part element="tns:getStatusRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getStatusOut">
		<wsdl:part element="tns:getStatusResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getStatusFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getSignedInvoiceIn">
		<wsdl:part element="tns:getSignedInvoiceRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getSignedInvoiceOut">
		<wsdl:part element="tns:getSignedInvoiceResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getSignedInvoiceFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getInvoiceDocumentIn">
		<wsdl:part element="tns:getInvoiceDocumentRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getInvoiceDocumentOut">
		<wsdl:part element="tns:getInvoiceDocumentResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getInvoiceDocumentFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="cancelInvoiceIn">
		<wsdl:part element="p1:invoiceCancellationServiceRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="cancelInvoiceOut">
		<wsdl:part element="p1:invoiceCancellationServiceResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="cancelInvoiceFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="reconciliationCheckIn">
		<wsdl:part element="p2:reconciliationServiceRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="reconciliationCheckOut">
		<wsdl:part element="p2:reconciliationServiceResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="reconciliationCheckFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="sendReportIn">
		<wsdl:part element="p3:sendReportRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendReportOut">
		<wsdl:part element="p3:sendReportResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="sendReportFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="retriggerOperationIn">
		<wsdl:part element="tns:retriggerServiceRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="retriggerOperationOut">
		<wsdl:part element="tns:retriggerServiceResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="retriggerOperationFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="detailedInvoiceQueryIn">
		<wsdl:part element="tns:detailedInvoiceQueryRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="detailedInvoiceQueryOut">
		<wsdl:part element="tns:detailedInvoiceQueryResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="detailedInvoiceQueryFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="generateInvIDIn">
		<wsdl:part element="tns:invIdGenerationRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="generateInvIDOut">
		<wsdl:part element="tns:invIdGenerationResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="generateInvIDFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getReportStatusIn">
		<wsdl:part element="p3:getReportStatusRequestType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportStatusOut">
		<wsdl:part element="p3:getReportStatusResponseType" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportStatusFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getReportListIn">
		<wsdl:part element="p3:getReportListRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportListOut">
		<wsdl:part element="p3:getReportListResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportListFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getReportDataIn">
		<wsdl:part element="p3:getReportDataRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDataOut">
		<wsdl:part element="p3:getReportDataResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDataFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getReportDetailIn">
		<wsdl:part element="p3:getReportDetailRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDetailOut">
		<wsdl:part element="p3:getReportDetailResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getReportDetailFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="approveReportIn">
		<wsdl:part element="p3:approveReportRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="approveReportOut">
		<wsdl:part element="p3:approveReportResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="approveReportFault">
		<wsdl:part element="p0:processingFaultType" name="processingFaultType"/>
	</wsdl:message>
	<wsdl:message name="getUserListIn">
		<wsdl:part element="p4:getUserListRequest" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getUserListOut">
		<wsdl:part element="p4:getUserListResponse" name="parameter"/>
	</wsdl:message>
	<wsdl:message name="getUserListFault">
		<wsdl:part element="p4:getUserListFault" name="getUserListFault"/>
	</wsdl:message>
	<wsdl:portType name="eArsivInvoicePortType">
		<wsdl:operation name="sendInvoice">
			<wsdl:input message="tns:sendInvoiceIn"/>
			<wsdl:output message="tns:sendInvoiceOut"/>
			<wsdl:fault message="tns:sendInvoiceFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="sendEnvelope">
			<wsdl:input message="tns:sendEnvelopeIn"/>
			<wsdl:output message="tns:sendEnvelopeOut"/>
			<wsdl:fault message="tns:sendEnvelopeFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<wsdl:input message="tns:getStatusIn"/>
			<wsdl:output message="tns:getStatusOut"/>
			<wsdl:fault message="tns:getStatusFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getSignedInvoice">
			<wsdl:input message="tns:getSignedInvoiceIn"/>
			<wsdl:output message="tns:getSignedInvoiceOut"/>
			<wsdl:fault message="tns:getSignedInvoiceFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getInvoiceDocument">
			<wsdl:input message="tns:getInvoiceDocumentIn"/>
			<wsdl:output message="tns:getInvoiceDocumentOut"/>
			<wsdl:fault message="tns:getInvoiceDocumentFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="cancelInvoice">
			<wsdl:input message="tns:cancelInvoiceIn"/>
			<wsdl:output message="tns:cancelInvoiceOut"/>
			<wsdl:fault message="tns:cancelInvoiceFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="reconciliationCheck">
			<wsdl:input message="tns:reconciliationCheckIn"/>
			<wsdl:output message="tns:reconciliationCheckOut"/>
			<wsdl:fault message="tns:reconciliationCheckFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="sendReport">
			<wsdl:input message="tns:sendReportIn"/>
			<wsdl:output message="tns:sendReportOut"/>
			<wsdl:fault message="tns:sendReportFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="retriggerOperation">
			<wsdl:input message="tns:retriggerOperationIn"/>
			<wsdl:output message="tns:retriggerOperationOut"/>
			<wsdl:fault message="tns:retriggerOperationFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="detailedInvoiceQuery">
			<wsdl:input message="tns:detailedInvoiceQueryIn"/>
			<wsdl:output message="tns:detailedInvoiceQueryOut"/>
			<wsdl:fault message="tns:detailedInvoiceQueryFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="generateInvID">
			<wsdl:input message="tns:generateInvIDIn"/>
			<wsdl:output message="tns:generateInvIDOut"/>
			<wsdl:fault message="tns:generateInvIDFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getReportStatus">
			<wsdl:input message="tns:getReportStatusIn"/>
			<wsdl:output message="tns:getReportStatusOut"/>
			<wsdl:fault message="tns:getReportStatusFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getReportList">
			<wsdl:input message="tns:getReportListIn"/>
			<wsdl:output message="tns:getReportListOut"/>
			<wsdl:fault message="tns:getReportListFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getReportData">
			<wsdl:input message="tns:getReportDataIn"/>
			<wsdl:output message="tns:getReportDataOut"/>
			<wsdl:fault message="tns:getReportDataFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getReportDetail">
			<wsdl:input message="tns:getReportDetailIn"/>
			<wsdl:output message="tns:getReportDetailOut"/>
			<wsdl:fault message="tns:getReportDetailFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="approveReport">
			<wsdl:input message="tns:approveReportIn"/>
			<wsdl:output message="tns:approveReportOut"/>
			<wsdl:fault message="tns:approveReportFault" name="processingFaultType"/>
		</wsdl:operation>
		<wsdl:operation name="getUserList">
			<wsdl:input message="tns:getUserListIn"/>
			<wsdl:output message="tns:getUserListOut"/>
			<wsdl:fault message="tns:getUserListFault" name="getUserListFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="eArsivInvoicePortTypeBinding" type="tns:eArsivInvoicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="sendInvoice">
			<soap:operation soapAction="sendInvoice"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="sendEnvelope">
			<soap:operation soapAction="sendEnvelope"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<soap:operation soapAction="getStatus"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSignedInvoice">
			<soap:operation soapAction="getSignedInvoice"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getInvoiceDocument">
			<soap:operation soapAction="getInvoiceDocument"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelInvoice">
			<soap:operation soapAction="cancelInvoice"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="reconciliationCheck">
			<soap:operation soapAction="reconciliationCheck"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="sendReport">
			<soap:operation soapAction="sendReport"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retriggerOperation">
			<soap:operation soapAction="retriggerOperation"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="detailedInvoiceQuery">
			<soap:operation soapAction="detailedInvoiceQuery"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="generateInvID">
			<soap:operation soapAction="generateInvID"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportStatus">
			<soap:operation soapAction="getReportStatus"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportList">
			<soap:operation soapAction="getReportList"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportData">
			<soap:operation soapAction="getReportData"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReportDetail">
			<soap:operation soapAction="getReportDetail"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="approveReport">
			<soap:operation soapAction="approveReport"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="processingFaultType">
				<soap:fault name="processingFaultType" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserList">
			<soap:operation soapAction="getUserList"/>
			<wsdl:input>
				<soap:body parts="parameter" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="getUserListFault">
				<soap:fault name="getUserListFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eArsivInvoiceService">
		<wsdl:port binding="tns:eArsivInvoicePortTypeBinding" name="eArsivInvoicePort">
			<soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://10.10.0.46:50000/eArsivInvoiceService/EArsivInvoicePortTypeImplBean"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>