Foriba.OE.CLIENT/Service References/serviceDespatch/ClientEDespatchServicesTypes-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://foriba.com/eDespatch/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://foriba.com/eDespatch/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendDesUBLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="0" name="SenderIdentifier" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverIdentifier" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
        <xs:element name="DocData" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendDesUBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Response" type="SendDesUBLResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendDesUBLResponseType">
    <xs:sequence>
      <xs:element name="EnvUUID" type="xs:string" />
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="CustDesID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesUBLListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesUBLListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Response" type="GetDesUBLListResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetDesUBLListResponseType">
    <xs:sequence>
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="Identifier" type="xs:string" />
      <xs:element name="VKN_TCKN" type="xs:string" />
      <xs:element minOccurs="0" name="EnvType" type="xs:string" />
      <xs:element minOccurs="0" name="EnvElementType" type="xs:string" />
      <xs:element minOccurs="0" name="EnvUUID" />
      <xs:element minOccurs="0" name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="CustDesID" type="xs:string" />
      <xs:element name="InsertDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesUBLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesUBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Response" type="GetDesUBLResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetDesUBLResponseType">
    <xs:sequence>
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="DocData" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesReceiptsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesReceiptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Response" type="GetDesReceiptsResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetDesReceiptsResponseType">
    <xs:sequence>
      <xs:element name="DespatchUUID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Receipts" type="GetDesReceiptsResponseReceiptsType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDesReceiptsResponseReceiptsType">
    <xs:sequence>
      <xs:element name="EnvUUID" type="xs:string" />
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="ID" type="xs:string" />
      <xs:element name="InsertDateTime" type="xs:dateTime" />
      <xs:element name="IssueDate" type="xs:dateTime" />
      <xs:element name="DocData" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesEnvelopeStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesEnvelopeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Response" type="GetDesEnvelopeStatusResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetDesEnvelopeStatusResponseType">
    <xs:sequence>
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="IssueDate" type="xs:date" />
      <xs:element minOccurs="0" name="DocumentTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:string" />
      <xs:element minOccurs="0" name="Description" type="xs:string" />
      <xs:element minOccurs="0" name="DocData" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesViewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="DocDetails" type="GetDesViewRequestType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Response" type="GetDesViewResponseType" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetDesViewRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustDesID" type="xs:string" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="DocType" type="xs:string" />
      <xs:element name="ViewType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetDesViewResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CustDesID" type="xs:string" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="DocType" type="xs:string" />
      <xs:element name="ViewType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocData" type="xs:base64Binary" />
      <xs:element name="Result" type="xs:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResultDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getDesUserListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element name="Role" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocData" type="xs:base64Binary" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>