Foriba.OE.CLIENT/Service References/serviceInvoicee/ClientEInvoiceServicesTypes-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http:/fitcons.com/eInvoice/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http:/fitcons.com/eInvoice/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sendUBLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="0" name="SenderIdentifier" type="xs:string" />
        <xs:element minOccurs="0" name="ReceiverIdentifier" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
        <xs:element name="DocData" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendUBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Response" type="SendUBLResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SendUBLResponseType">
    <xs:sequence>
      <xs:element name="EnvUUID" type="xs:string" />
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="CustInvID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getUBLListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUBLListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="UBLList" type="GetUBLListResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GetUBLListResponseType">
    <xs:sequence>
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="Identifier" type="xs:string" />
      <xs:element name="VKN_TCKN" type="xs:string" />
      <xs:element minOccurs="0" name="EnvType" type="xs:string" />
      <xs:element minOccurs="0" name="EnvUUID" />
      <xs:element minOccurs="0" name="ID" type="xs:string" />
      <xs:element minOccurs="0" name="CustInvID" type="xs:string" />
      <xs:element name="InsertDateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getUBLRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUBLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="DocData" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelopeStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="UUID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEnvelopeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="Response" type="getEnvelopeStatusResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="getEnvelopeStatusResponseType">
    <xs:sequence>
      <xs:element name="UUID" type="xs:string" />
      <xs:element name="IssueDate" type="xs:date" />
      <xs:element minOccurs="0" name="DocumentTypeCode" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" type="xs:string" />
      <xs:element minOccurs="0" name="Description" type="xs:string" />
      <xs:element minOccurs="0" name="DocData" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getInvoiceViewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UUID" type="xs:string" />
        <xs:element name="CustInvID" type="xs:string" />
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element name="Type" type="xs:string" />
        <xs:element name="DocType" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocData" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identifier" type="xs:string" />
        <xs:element name="VKN_TCKN" type="xs:string" />
        <xs:element name="Role" type="xs:string" />
        <xs:element minOccurs="0" name="RegisteredAfter" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Filter_VKN_TCKN" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="User" type="UserType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="Identifier" type="xs:string" />
      <xs:element name="Alias" type="xs:string" />
      <xs:element name="Title" type="xs:string" />
      <xs:element name="Type" type="xs:string" />
      <xs:element name="RegisterTime" type="xs:dateTime" />
      <xs:element name="FirstCreationTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>